<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>{{user_profile.name}}</h2>
    <h2>{{user_profile.email}}</h2>
    <h2>{{user_profile.phone}}</h2>
    <hr/>
    <br/>
    <p><b>Summary</b></p>
    <p>{{user_profile.summary}}</p>
    <hr/>
    <p><b>Skills</b></p>
    <p>{{user_profile.skills}}</p>
    <hr/>
    <p><b>Education</b></p>
    <ul>
        <li>Schooling: {{user_profile.school}}</li>
        <li>{{user_profile.degree}} from {{user_profile.university}}</li>
    </ul>
    <hr/>
    <p><b>Previous Work</b></p>
    <p>{{user_profile.previous_work}}</p>

    <hr/>
    <p><b>Trainings and Courses</b></p>
    <p>{{user_profile.trainings_courses}}</p>

    <hr/>
    <p><b>Achievements</b></p>
    <p>{{user_profile.achievements}}</p>

    





</body>
</html>